{% extends 'CrcReservBundle:Layout:default.html.twig' %}

{% block arianne %}
	{{ parent() }} :: <a href="{{ path('crc_reserv_department_admin',{id:department.id}) }}">{{ department.name }}</a> :: <a href="">Administration</a>
{% endblock %}


{% block page_content -%}
  
  <h1>{% if department.logo %}<img class="dpt-logo-small" src="{{ asset(department.logo.getWebPath) }}">{% endif  %} {{ department.name }}</h1>

  <h3>Liste des équipements</h3>
  <p>
  	<a href="{{ path('crc_reserv_device_index',{ department:department.id }) }}" class="btn btn-default">Voir tous les équipements</a>
  	<a href="{{ path('crc_reserv_device_stock',{ department:department.id }) }}" class="btn btn-default">Voir le stock</a>
  	<a href="{{ path('crc_reserv_device_onfield',{ department:department.id }) }}" class="btn btn-default">Voir les sorties</a>
  	<a href="{{ path('crc_reserv_device_create') }}" class="btn btn-primary " >Ajouter des équipements</a>
  </p>
<table class="table table-striped table-bordered" style="width:100%;">
	<tr>
		<th>Type</th>
		<th>En tout</th>
		<th>En Panne</th>
		<th>Manquante</th>
		<th>Reservation en cours</th>
		<th></th>
	</tr>
	
	{% for type,device in devices %}
		{% if device is not empty %}
		<tr>
			<td>
				{{ type }}
			</td>
			<td>
				{{ device|length }}
			</td>
			<td>
				{% set nb = 0 %}
				{% for d in device %}
					{% if d.working == 0 %}
						{% set nb = nb + 1 %}
					{% endif %}
				{% endfor %}
				{{ nb }}
			</td>
			<td>
			{% set nb = 0 %}
				{% for d in device %}
					{% if d.missing == 1 %}
						{% set nb = nb + 1 %}
					{% endif %}
				{% endfor %}
				{{ nb }}
			</td>
			<td>
				{% for reser in reservations %}
				<p>
					<small>
				{% if reser.hasDeviceType(type) %}
					
					{{ reser.countDevicesType(type) }} unités

				{% endif %}

				par {{ reser.user.username }}

				du {{ reser.getDateBegin()|localizeddate('short', 'none') }}
				--> {{ reser.getDateEnd()|localizeddate('short', 'none') }}
					</small>
				</p>
				{% endfor %}

				{% if reservations is empty %}
					<i>Aucune</i>
				{% endif %}
			</td>
			<td>
				<a href="{{ path('crc_reserv_device_index',{ department:department.id, type: device[0].slug }) }}" class="btn btn-default btn-xs">Voir ces équipements</a>
				<a class="btn btn-primary btn-xs" href="{{ path('crc_reserv_device_create',{device: device[0].id}) }}">En ajouter</a>
			</td>	
		</tr>
		{% endif  %}
	{% endfor %}
</table>




<h3>Réservation en cours</h3>
<ul class="nav nav-tabs" id="reservation-list">
  <li class="active"><a href="#reserv-en-cours" data-toggle="tab">En cours</a></li>
  <li><a href="#reserv-ancienne" data-toggle="tab">Ancienne</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="reserv-en-cours">
	<table class="table table-striped table-bordered">
		{% if reservations is not empty %}
			{% for r in reservations %}
			<tr>
				<td>{{ r.name }}</td>
				<td>par {{ r.user.username|capitalize }}</td>
				<td>{{ r.devices|length }} équipements</td>
				<td>du {{ r.dateBegin|localizeddate('full','none') }}</td>
				<td>au {{ r.dateEnd|localizeddate('full','none') }}</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td><i>Pas de réservation en cours...</td>
			</tr>
		{% endif %}
	</table>	
	</div>
	<div class="tab-pane" id="reserv-ancienne">
		<table class="table table-stripped">
			<tr>
				<td><i>Pas de réservation anciennes...</td>
			</tr>
		</table>	


	</div>
</div>
<a class="btn   btn-primary" href='{{ path("crc_reserv_device_available", {department:department.id}) }}'>Faire une réservation</a>



<h3>Liste des utilisateurs</h3>
<ul class="nav nav-tabs" id="member-list">
  <li class="active"><a href="#users-list" data-toggle="tab">Utilisateurs</a></li>
  <li><a href="#admins-list" data-toggle="tab">Administrateurs</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="users-list">
		<table class="table table-striped table-bordered">
			{% if department.members is not empty %}
				{% for user in department.members %}
					<tr>
						<td>{{ user.username|capitalize }}</td>
						<td>enregistré depuis le {{ user.registerSince|date('d-m-Y') }}</td>
						<td>
							{% if department.admins.contains(user) %}
								<span class="label label-default">Administrateur</span>
							{% else %}
								<a class="btn btn-xs btn-default " href="">Promouvoir</a>
							{% endif %}
						</td>
						<td>
							<a class="btn btn-xs btn-default" href="">Editer</a>
							<a class="btn btn-xs btn-danger" href="">Supprimer</a>
						</td>
					</tr>
				{% endfor  %}
			{% endif %}
		</table>
	</div>
	<div class="tab-pane" id="admins-list">
		<table class="table table-stripped">
			{% if department.admins is not empty %}
				{% for user in department.admins %}
					<tr>
						<td>{{ user.username|capitalize }}</td>
						<td>enregistré depuis le {{ user.registerSince|date('d-m-Y') }}</td>
						<td>
							<a class="btn btn-xs btn-default" href="">Editer</a>
							<a class="btn btn-xs btn-danger" href="">Supprimer</a>
						</td>
					</tr>
				{% endfor  %}
			{% endif %}
		</table>
	</div>
</div>
<a class="btn   btn-primary" href="{{ path('crc_reserv_department_adduser',{department:department.id}) }}">Ajouter un utilisateur d'une autre composante</a>
<a class="btn   btn-primary" href=''>Inviter un utilisateur extérieur</a>




{% endblock page_content %}