{% extends 'CrcReservBundle:Layout:default.html.twig' %}

{% block arianne %}
	{{ parent() }} :: <a href="{{ path('crc_reserv_my_reservations') }}">Mes réservations</a> :: <a href="{{ path('crc_reserv_edit',{id:reservation.id}) }}">{{ reservation.name }}</a> :: <a href="{{ path('crc_reserv_add_devices',{id:reservation.id}) }}">Ajouter des équipements</a>
{% endblock  %}

{% block page_content -%}
  

  	<h2>Nombres d'équipements disponibles</h2>

	{{ form_start(form) }}

	<table class="table table-hover" style="width:100%">
		{% for type,devices in availables %}
		<tr>
			<td>
				{{ devices|length }} {{ type }} 
			</td>
			<td>
				<div class="control-group">
					<label class="control-label">Combien ?</label>
					<div class="controls">
						<input type="text" name="reservation_devices_number[{{ type }}]" placeholder="Entrer un nombre">				
						<div class="helper help-inline help-error hide"></div>
					</div>	
				</div>
			</td>
		</tr>
	
		{% endfor %}
		<tr>
			<td></td>
			<td>
				<input type="submit" value="Ajouter" class="btn btn-primary">
			</td>
		</tr>
	</table>


	<div style="display:none">
		{{ form_row(form.name) }}

		{{ form_row(form.comment) }}
		{{ form_widget(form.date_begin )}}
		{{ form_widget(form.date_end )}}

		<button class="btn btn-default" type="submit">Ajouter</button>
	</div>


	{{ form_end(form) }}

{% endblock %}
