{% extends 'CrcReservBundle:Layout:default.html.twig' %}


{% block arianne %}
	{{ parent() }} :: <a href="{{ path('crc_reserv_device_available',{department:department.id}) }}">{{ department.name }}</a> :: <a href="{{ path('crc_reserv_reserver',{department: department.id}) }}">Créneau</a> :: <a href="">Disponibilité</a>
{% endblock %}

{% block page_content -%}
  

  	<h2>Nombres d'équipements disponibles</h2>

	{{ form_start(form) }}

	<table class="table table-hover" style="width:100%">
		{% for type,devices in availables %}
		<tr>
			<td>
				{{ devices|length }} {{ type }} 
			</td>
			<td>
				<input type="text" name="reservation_devices_number[{{ type }}]">				
			</td>
		</tr>
		{% endfor %}
	</table>


	{{ form_row(form.name) }}

	{{ form_row(form.comment) }}

	<div class="hide">
		{{ form_widget(form.date_begin )}}
		{{ form_widget(form.date_end )}}
	</div>
	

	
	<input type="submit" class="btn btn-primary fright">
	<a href="{{ path('crc_reserv_home') }}" class="btn btn-default fright">Retour à l'accueil</a>

	{{ form_end(form) }}


{% endblock %}
